/* some style */
html, body, #map {
  height: 100%;
  width: 100%;
  position:absolute;
}

#map { height: 100% }

.navbar {
  margin-bottom: 0;
  position: absolute;
  width: 100%;
}

.info {
  height: 200px;
  width: 100%;
  position: absolute;
  bottom:0;
  background-color: grey;
}

.marker-button {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 220px;
  right: 20px;
  background-color: magenta;
  border-radius: 50%;
  padding: 25px  25px;
}
